.watchlist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #a9a9a9;
}
.username {
    color: rgb(172, 45, 172);
    font-size: 1.2rem;
}
.strong {
    color: rgb(100, 15, 100);
}
.empty {
    color: crimson;
    text-align: center;
}
.repo-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    width: 100%;
    height: 100%;
    margin: 0.25rem;
    background: wheat;
}
.image-container {
    height: 100px;
    width: 100px;
}
.avatar-image {
    height: 100px;
    width: 100px;
}
.repo-card button {
    font-size: 0.75rem;
    color: #f6f6f6;
    background-color: hsl(14, 23%, 22%);
    border: 1px solid hsl(14, 23%, 22%);
    height: 2rem;
    width: 10rem;
    cursor: pointer;
}
.repo-card button:enabled:hover {
    background-color: hsl(13, 75%, 65%);
    border: 1px solid hsl(13, 75%, 65%);
    font-size: 0.8rem;
}
.repo-card div {
    padding: 0.25rem;
}
.repo-card a {
    font-size: 1.2rem;
    padding: 1.5rem;
    text-decoration-line: underline;
    color: hsl(250, 47%, 30%);
}
.repo-card a:hover {
    color: hsl(250, 64%, 50%);
}
.owner-github {
    margin-left: auto;
}
.owner-container {
    flex-grow: 1;
}
.rendered-container {
    display: flex;
    background: #a9a9a9;
}
@media (max-width: 770px) {
    .repo-card {
        flex-direction: column;
        margin: 0;
        padding: 0.2rem;
    }
    .avatar-image {
        margin: 0.2rem;
    }
    .empty {
        font-size: 1.2rem;
    }
}
