@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap');
.navbar {
    margin: 0;
    box-sizing: border-box;
    background-color: #24292e;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.logo {
    flex-shrink: 2;
    margin-right: auto;
    margin-left: 1rem;
    font-size: 3rem;
    color: rgb(100, 15, 100);
    font-weight: 900;
    font-family: 'Permanent Marker', cursive;
}
.navbar a {
    display: flex;
    flex-grow: 2;
    text-decoration: none;
    color: #f6f6f6;
    padding: 1rem;
    margin: 0, 3rem;
    font-size: 1.25rem;
    font-family: 'Merriweather Sans', sans-serif;
}
.navbar a:hover {
    color: rgb(172, 45, 172);
}
.navbar .fa {
    position: relative;
    color: crimson;
    margin: auto 0.2rem;
}
.fa-home {
    margin-left: 3rem;
}
