.results-link {
    margin-left: 0;
}
.search-btn {
    padding: 0.25 0.75rem;
}
.rendered-container {
    display: flex;
    border: 1px solid black;
}
.image-container {
    height: 150px;
    width: 150px;
}
.avatar-image {
    height: 100%;
    width: 100%;
}
